@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    font-size: 14px;
}


* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{
   width: 100%;
}


.navbar{
    width: 100vw;
    max-width: 100vw;
    height: 60px;
    background-color: #fff;
    opacity: 98%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content:space-between;
    z-index: 1000;
}

.navbar_logo{
    height: 60px;
    width: 10%;
    display: flex;
    margin-left: 2.5em;
    background: transparent;
    justify-content: center;
    align-items: center;
}

.navbar_logo img{
    height: 40px;
}

.navbar_links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar_links a{
    position: relative;
    min-width: 5em;
    text-decoration: none;
    font-weight: 500;
    color: black;
    font-size: 0.9rem; 
    text-align: center;
    padding: 0 1.8em;
}

.navbar_links a:hover {
    color: orange;
}


.navbar_links a::before{
    content: '';
    position: absolute;
    top: 120%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: orange;
    transition: 0.2s;
}

.navbar_links a.active {
    color: orange;
}

.navbar_links a.active::before{
    content: '';
    position: absolute;
    top: 120%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: orange;
}




.navbar_contact-button{
    background-color: orange;
    padding: 0.3em 0.8em;
    border-radius: 12px;
    margin-right: 6em;
    max-width: 100px;
}

.navbar_contact-button:hover{
    scale: 1.05;
    color: #fff;
}
.navbar_contact-button:active{
    scale: 0.95;
}

.navbar_contact-button a{
    text-decoration: none;
    font-size: 0.9rem;
    color: #fff;
}



/* dropdown menu */

.r_navbar_dropdown-menu {
    display: none;
    position: absolute;
    height: 0;
    right: 2rem;
    top: 60px;
    width: 300px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.r_navbar_dropdown-menu.open {
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 0.8em;
}

.r_navbar_dropdown-menu a{
    text-decoration: none;
    font-weight: 500;
    color: black;
    font-size: 1.2rem; 
    text-align: center;
    padding: 0.7em 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.r_navbar_dropdown-menu a:hover{
    color: orange;
}
.r_navbar_contact-button {
    background-color: orange;
    width: 50%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1.8em;
    padding: 0 0.2em;
    border-radius: 12px;
    transition: scale 0.2 ease;
}
.r_navbar_contact-button a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
}
.r_navbar_contact-button a:hover{
    color: #fff;
}
.r_navbar_contact-button:hover{
    scale: 1.05;
    color: #fff;
}
.r_navbar_contact-button:active{
    scale: 0.95;
}

.r_navbar_toggle-button{
   display: none;
}



/* Responsive design for tablets */

@media only screen and (max-width:1200px) {
    html{
        font-size: 13px;
    }

}



/* Responsive design for cellphones */

@media only screen and (max-width:900px) {
    html{
        font-size: 10px;
    }

    .navbar_links{
        display:none;
    }

    .navbar_contact-button{
        display:none;
    }


    .r_navbar_toggle-button{
        display: flex;
        margin-right: 3.2em;
    }

    .r_navbar_toggle-button i{
        font-size: 2em;
    }

    .r_navbar_dropdown-menu{
        display: block;
    }

    .r_navbar_toggle-button{
        display: block;
    }
}

@media only screen and (max-width:576px) {
    .r_navbar_dropdown-menu{
        left: 2rem;
        right: 2rem;
        width: auto;
    }
}




/* main curso */

.main{
    height: fit-content;
    width: 100%;
    max-width: 100vw;
    position: relative;
    top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.phrase{
    background-color: #bbb;
    width: 100vw;
    max-width: 1400px;
    padding: 3em 4em;
    background-image: url(/recursos/fondo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    margin-top: 3em;
}

.phrase div{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.phrase div p{
    text-align: center;
    font-size: 2.2em;
    font-weight: 600;
}

.me{
    background-color: transparent;
    display: flex;
    height: fit-content;
    margin-top: 5em;
}

.me .me_image{
    height: fit-content;
    width: 25vw;
    padding: 5em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.me_image img{
    width: 80%;
    max-width: 300px;
    height: 80%;
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 2px solid #ddd;
    box-shadow: 0 0 30px 10px #eee;
}

.me .me_description{
    width: 50vw;
    height: fit-content;
    padding: 2em 5em;
    margin: auto auto;
}

.me .me_description .check{
    font-size: 2.5em;
    font-weight: 1000;
    display: inline;
}
.me .me_description p{
    font-size: 1.5em;
    font-weight: 500;
    display: inline;
}

.me .me_description .me_joke{
    color: gray;
    display: inline;
    font-weight: 400;
}

.whatsp-msg{
    height: fit-content;
    width: 100vw;
    max-width: 1000px;
    background-color: #f9f5f3;
    margin-top: 5em;
    border-radius: 15px;
    margin-bottom: 5em;
}

.whatsp-msg .container{
    background-color: #f9f5f3;
    display: flex;
    height: fit-content;
    flex-direction: column;
    border-radius: 15px;
    border: 2px solid #ddd;
    box-shadow: 0 0 30px 10px #eee;
}
.whatsp-msg .msg1{
    width: 75%;
    height: 50%;
    margin: 3em 5em 0 0;
    display: flex;
    align-items: center;
    justify-content: end;
    align-self: self-end;
    position: relative;
}

.whatsp-msg .msg1::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-left: 26px solid  #95ff82;
    border-bottom: 26px solid transparent;
    margin: 0 0 0 0;
    top: 0;
    right: -16px;
}

.whatsp-msg .msg1 p{
    padding: 0.9em 1.4em;
    background-color: #95ff82;
    border-radius: 10px;
    font-size: 1.2em;
}

.whatsp-msg .msg2{
    width: 75%;
    height: 50%;
    margin: 1.5em 0 0 5em;
    display: flex;
    align-items: center;
    justify-content: start;
    align-self: self-start;
    position: relative;
}

.whatsp-msg .msg2::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-right: 26px solid  #ddd;
    border-bottom: 26px solid transparent;
    margin: 0 0 0 0;
    top: 0;
    left: -16px;
}

.whatsp-msg .msg2 p{
    padding: 0.9em 1.4em;
    background-color: #ddd;
    border-radius: 10px;
    font-size: 1.2em;
}

.whatsp-msg .msg3{
    width: 75%;
    height: 50%;
    margin: 1.5em 0 3em 5em;
    display: flex;
    align-items: center;
    justify-content: start;
    align-self: self-start;
    position: relative;
}

.whatsp-msg .msg3::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-right: 26px solid  #ddd;
    border-bottom: 26px solid transparent;
    margin: 0 0 0 0;
    top: 0;
    left: -16px;
}

.whatsp-msg .msg3 p{
    padding: 0.9em 1.4em;
    background-color: #ddd;
    border-radius: 10px;
    font-size: 1.2em;
}

.phrase2{
    background-color: #bbb;
    width: 100vw;
    max-width: 1400px;
    padding: 3em 4em;
}

.phrase2 div{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.phrase2 div p{
    text-align: center;
    font-size: 1.8em;
    font-weight: 600;
}

.testimonio{
    height: fit-content;
    width: 100vw;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
    flex-wrap: wrap;
    margin-bottom: 5em;
}

.testimonio .testimonio_title{
    background-color: transparent;
    margin-bottom: 3em;
}
.testimonio .testimonio_title p{
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
}

.testimonio .testimonio_title .subtitle{
    font-size: 1.2em;
    color: gray;
}

.testimonio .testimonio_cards{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    max-width: 1400px;
    padding: 0 2em;
    height: fit-content;
}       

.testimonio_cards .cards{
    background-color: #ddd;
    min-width: 300px;
    width: 22%;
    margin: 0 1em;
    min-height: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 10px 10px 10px 1px #bbb;
}

.cards .card_phrase{
    min-height: 150px;
    max-height: 150px;
    width: 85%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
}

.cards .card_phrase p{
    font-size: 1.6em;
    font-style: italic;
    text-align: center;
}

.cards .card_joke{
    background-color: transparent;
    color: #777;
}

.cards .card_rating{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1.5em;
}

.card_rating .rating_person-img{
    width: 20%;
    height: 70px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_rating .rating_person-img img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 80%;
    height: 70%;
    border-radius: 50%;
}

.card_rating .rating_rating-img{
    width: 60%;
    height: 70px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_rating .rating_rating-img img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 90%;
    height: fit-content;
}

.call{
    height: 25vh;
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
}

.call p{
    text-align: center;
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 0.8em;
}

.call a {
    background-color: orange;
    width: fit-content;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1.8em;
    padding: 0.6em 1.2em;
    border-radius: 12px;
    transition: scale 0.2 ease;
}
.call a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
}
.call a:hover{
    color: #fff;
}
.call a:hover{
    scale: 1.05;
    color: #fff;
}
.call a:active{
    scale: 0.95;
}









/* footer */


.footer{
    width: 100%;
    max-width: 100vw;
    position: relative;
    bottom: 0;
    background: linear-gradient(to bottom, #000, #222);
    margin-top: 15em;
    color: #fff;
    padding: 60px 0 30px;
    font-size: 13px;
    line-height: 20px;

}

.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col{
    flex-basis: 25%;
    padding: 0 3em;
}

.col:nth-child(2), :nth-child(3){
    flex-basis: 15%;
}

.logo{
    width: 150px;
    margin-bottom: 30px;
}

.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;

}

.col3_links li {
    list-style: none;
    margin-bottom: 12px;
}

.col3_links li a{
    text-decoration: none; 
    color: #fff;
}

.col3_links li a:hover{
    color: orange;
}

.col4 form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

.col4 form .far{
    font-size: 18px;
    margin-right: 10px;

}

.col4 form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

.col4 form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

.col4 button .fas{
    font-size: 16px;
    color: #ccc;
}

.col4 .social-icons .fab{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.col4 .social-icons .fab:hover{
    background: #ddd;
    scale: 1.1;
}

footer hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 25px auto;
    margin-top: 50px;
}

footer .copyright{
    text-align: center;

}

footer .underline{
    width: 100%;
    height: 3px;
    background: orange;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

footer .underline span{
    width: 25px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    opacity: 40%;
    animation: moving 2s linear infinite;
}

@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}

@media (max-width: 850px) {
    footer{
        bottom: unset;  
    }

    .row{
        flex-wrap: wrap;
    }
    .col{
        flex-basis: 100%;
        margin-bottom: 2.5em;
    }
    
    .col:nth-child(2), :nth-child(3){
        flex-basis: 100%;
    }
}